.mapDiv{
    
}
.mapBoi{
    height: 500px !important;
    width: 40% !important;
    position: absolute !important;
    left: 35% !important;
    top: 20% !important;
    margin-top: -50px !important;
    margin-left: -50px !important;
}

.test{
    background-color: aqua;
}